# Python
__pycache__/
*.pyc
.venv/
venv/

# Node/npm (if later used)
node_modules/

# Secrets
.env
*.env

# Local
backend/data/uploads/
backend/data/chroma_db_old/

# To be developed
# backend/scripts/scraper*.py